﻿<footer>
    <div class="container footerContent">
        <div class="row">
            <div class="col-lg-4">
                <h5>Contact Us</h5>
                <div class="infoContact">
                    <span>Phone numbers:</span>
                    <p>+12 345 67 00 89, +12 987 00 65 43</p>
                    <span>Email:</span>
                    <p>sales@your-site.com</p>
                    <span> Business hours:</span>
                    <p>Monday - Friday 10 AM - 6 PM</p>
                </div>
                <div class="social">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-delicious"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-flickr"></i></a>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-5">
                <h5>Services</h5>
                <div class="infoService">
                    <p>
                        <a data-toggle="collapse" href="#photo" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down mr-2" aria-hidden="true"></i>Photography</a>
                    <p class="collapse" id="photo">
                        Glavrida for habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nec ipsum.
                    </p>
                    </p>
                    <p>
                        <a data-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down mr-2" aria-hidden="true"></i>Web Design</a>
                    <p class="collapse" id="design">
                        Glavrida for habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nec ipsum.
                    </p>
                    </p>
                    <p>
                        <a data-toggle="collapse" href="#marketing" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down mr-2" aria-hidden="true"></i>Marketing & PR</a>
                    <p class="collapse" id="marketing">
                        Glavrida for habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nec ipsum.
                    </p>
                    </p>
                    <p>
                        <a data-toggle="collapse" href="#programming" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down mr-2" aria-hidden="true"></i>Programming</a>
                    <p class="collapse" id="programming">
                        Glavrida for habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nec ipsum.
                    </p>
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>Recent Posts</h5>
                <div class="infoPost">
                    <div class="media">
                        <a href="#">
                            <img class="mr-3" src="~/Content/Images/footer1.jpg" width="65" height="50" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <a href="#">5 Reasons lorem ipsum dolor</a>
                            <br />
                            <p>September 30, 2016</p>
                        </div>
                    </div>
                    <div class="media my-4">
                        <a href="#">
                            <img class="mr-3" src="~/Content/Images/footer2.jpg" width="65" height="50" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <a href="#">Vivamus aliquam ictum</a>
                            <br />
                            <p>September 30, 2016</p>
                        </div>
                    </div>
                    <div class="media">
                        <a href="#">
                            <img class="mr-3" src="~/Content/Images/footer3.jpg" width="65" height="50" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <a href="#">Lorem ipsum elit nulla emet</a>
                            <p>September 30, 2016</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="container below">
        <div class="row d-flex align-items-center justify-content-center">
                    <div>
                        <a href="#" class="mr-2 img">
                            <img src="~/Content/Logo/logofooter.png" />
                        </a>
                        <span>
                            Dream-Theme — truly <a href="#">premium WordPress themes</a>
                        </span>
                    </div>
                    <div class="ml-auto rightFooter mt-lg-0 mt-3">
                        <a href="#">Support Portal</a>
                        <a href="#">Custom Shop</a>
                        <a href="#">Typhography</a>
                        <a href="#">Custom CSS</a>
                    </div>
                </div>
    </div>
</footer>