﻿
<section class="header d-lg-block d-none">
    <div class="container">
        <div class="row d-flex  headerContent">
            <span class="mr-2"><i class="fa fa-phone mr-2"></i>011 322 44 56</span>
            <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>8500 Beverly Boulevard Los Angeles, CA 90048</span>
            <span class="ml-auto rightHeader">
                <a href="#" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-dribbble"></i>
                </a>
            </span>
        </div>
    </div>
</section>
<section class="Navgivation desktop">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
                <a class="navbar-brand" href="#"><img src="~/Content/Images/logo.png" /></a>

                <div class="collapse navbar-collapse divNav" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                            <a class="nav-link disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-car mr-2"></i>Creative
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">2. Personal</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">3. Creative grid</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">4. Creative minimal</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">5. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-building mr-2"></i>Business
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-magnet mr-2"></i>Image Wall
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-twitch mr-2"></i>Blog
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-instagram mr-2"></i>One page
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-car mr-2"></i>Creative
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-building mr-2"></i>Business
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-magnet mr-2"></i>Image Wall
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-twitch mr-2"></i>Blog
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-instagram mr-2"></i>One page
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-car mr-2"></i>Creative
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-building mr-2"></i>Business
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-magnet mr-2"></i>Image Wall
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-twitch mr-2"></i>Blog
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-instagram mr-2"></i>One page
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-car mr-2"></i>Creative
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-building mr-2"></i>Business
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-magnet mr-2"></i>Image Wall
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-twitch mr-2"></i>Blog
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown dropright " href="#">
                                    <a class="d-flex align-items-center">
                                        <i class="fa fa-instagram mr-2"></i>One page
                                        <i class="fa fa-angle-right ml-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu menu2">
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">1. Creative classic</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shortcodes
                            </a>
                            <div class="dropdown-menu megaMenu container" aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col">
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-car mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-address-book mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-anchor mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-facebook mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-twitter mr-2"></i>Creative
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-car mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-address-book mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-anchor mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-facebook mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-twitter mr-2"></i>Creative
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-car mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-address-book mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-anchor mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-facebook mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-twitter mr-2"></i>Creative
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-car mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-address-book mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-anchor mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-facebook mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-twitter mr-2"></i>Creative
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-car mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-address-book mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-anchor mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-facebook mr-2"></i>Creative
                                        </a>
                                        <a href="# " class="d-flex align-items-center">
                                            <i class="fa fa-twitter mr-2"></i>Creative
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>

                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>

                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <div class="shoppingCart mr-3">
                        <a href="#" class="d-flex align-items-center">
                            <i class="fa fa-shopping-cart mr-2"></i>
                            <span class="price mr-2">$0.00</span>
                            <span class="amount">0</span>
                        </a>
                        <div class="hoverBag">
                            No products in the cart.
                        </div>
                    </div>
                    <div class="Search">
                        <a href="#" class="d-flex align-items-center">
                            <i class="fa fa-search mr-2"></i>
                            Search
                        </a>
                        <div class="hoverSearch">
                            <input type="text" class="form-control" placeholder="Type and hit enter.." />
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</section>
<div class="Navgivation mobile-header Navgivation">
    <div class="d-flex align-items-center">
        <a class="navbar-brand" href="#"><img src="~/Content/Images/logo.png" height="40" /></a>
        <div class="shoppingCart ml-auto mr-3">
            <a href="#" class="d-flex align-items-center">
                <i class="fa fa-shopping-cart mr-2"></i>
                <span class="price mr-2">$0.00</span>
                <span class="amount">0</span>
            </a>
            <div class="hoverBag">
                No products in the cart.
            </div>
        </div>
        <div class="Search">
            <a href="#" class="d-flex align-items-center">
                <i class="fa fa-search mr-2"></i>
                Search
            </a>
            <div class="hoverSearch">
                <input type="text" class="form-control" placeholder="Type and hit enter.." />
            </div>
        </div>
        <a href="#" id="buttonmeNu" class="ml-2"><i class="fa fa-battery-0"></i></a>
    </div>
</div>
<nav id="my-menu">
    <ul class="menul1">
        <li>
            <a href="#"> <span class="titleMenu"></span></a>

        </li>
        <li>
            <a href="#">Home</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>Instagram</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Gallery</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Shortcodes</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Shop</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Pages</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">More</a>
            <ul class="menul2">
                <li>
                    <a href="#"><i class="fa fa-desktop mr-2"></i>Creative</a>
                    <ul class="menul3">
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building mr-2"></i>Business</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake mr-2"></i>Image wall</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-android mr-2"></i>Blog</a>
                    <ul></ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-anchor mr-2"></i>One page</a>
                    <ul>
                        <li>
                            <a class="dropdown-item">1. Creative classic</a>
                        </li>
                        <li>
                            <a class="dropdown-item">2. Personal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">3. Creative grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item">4. Creative minimal</a>
                        </li>
                        <li>
                            <a class="dropdown-item">5. Creative classic</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>

        <li class="info">
            <span><i class="fa fa-phone mr-2"></i>011 322 44 56</span>
            <span class=" rightHeader">
                <a href="#" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-dribbble"></i>
                </a>
            </span>
        </li>
    </ul>
</nav>
