﻿@charset "UTF-8";
.customerImg {
  position: relative;
  background-size: contain;
  background-position: center center;
  width: 180px; }
  .customerImg:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.66667%; }
  .customerImg > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.imgBackground {
  background-position: center;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }
  .imgBackground.contain {
    background-size: contain; }
  .imgBackground.origin {
    background-origin: content-box; }

body {
  font-family: 'Roboto', sans-serif; }

.bgGrey {
  background-color: #F6F6F6; }

.color-main {
  color: #AEAFB5; }

.header {
  color: #AEAFB5;
  font-size: 12px;
  font-weight: 700; }
  .header .headerContent {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12); }

.rightHeader a i {
  text-align: center;
  color: #a6a7ad;
  background-color: rgba(163, 164, 170, 0.2);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  padding: 7px 0;
  font-size: 12px;
  font-weight: 700; }

.rightHeader a:hover {
  text-decoration: none; }
  .rightHeader a:hover i {
    background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
    background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
    color: white; }

.Navgivation {
  /*padding: 10px 0;*/ }
  .Navgivation .navbar {
    width: 100%;
    padding: 0; }
    .Navgivation .navbar .divNav {
      flex-grow: unset; }
    .Navgivation .navbar .navbar-nav .nav-item {
      margin-right: 20px; }
      .Navgivation .navbar .navbar-nav .nav-item:hover .nav-link:before {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1); }
      .Navgivation .navbar .navbar-nav .nav-item .nav-link {
        cursor: context-menu;
        font-weight: bold;
        color: black;
        margin: 5px;
        margin: 35px 10px; }
        .Navgivation .navbar .navbar-nav .nav-item .nav-link:before {
          content: "";
          background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
          background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 20%;
          left: 0;
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          -webkit-transform-origin: center left;
          transform-origin: center left;
          -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
          transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-delay: .1s; }
        .Navgivation .navbar .navbar-nav .nav-item .nav-link.active:before {
          transform: scale3d(1, 1, 1);
          -webkit-transform: scale3d(1, 1, 1); }
      .Navgivation .navbar .navbar-nav .nav-item .dropdown-menu {
        border-radius: unset;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        margin: 0; }
        .Navgivation .navbar .navbar-nav .nav-item .dropdown-menu a {
          padding: 10px; }
          .Navgivation .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
            color: #1ebbf0;
            background: linear-gradient(135deg, rgba(30, 187, 240, 0.07) 30%, rgba(57, 223, 170, 0.07) 100%); }
        .Navgivation .navbar .navbar-nav .nav-item .dropdown-menu .fa-angle-right {
          font-weight: 700;
          font-size: 15px; }
        .Navgivation .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
          font-weight: 600;
          width: 280px;
          margin: 0 10px;
          padding: 0;
          font-size: 12px; }
          .Navgivation .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
            background-color: transparent; }
  .Navgivation .shoppingCart .hoverBag {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 15px 0 0 15px;
    background-color: white;
    width: 240px;
    margin-top: 10px;
    display: none;
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    z-index: 10; }
  .Navgivation .shoppingCart a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
    .Navgivation .shoppingCart a:hover {
      opacity: .7; }
    .Navgivation .shoppingCart a .price {
      font-size: 12px; }
    .Navgivation .shoppingCart a .amount {
      color: white;
      font-size: 10px;
      border-radius: 50%;
      padding: 5px 10px;
      background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      padding: 1px 5px; }
  .Navgivation .Search i {
    width: 13px; }
  .Navgivation .Search a {
    color: black;
    font-size: .8rem;
    font-weight: 600; }
    .Navgivation .Search a:hover {
      text-decoration: none;
      opacity: .7; }
  .Navgivation .Search .hoverSearch {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 10px 18px;
    background-color: white;
    width: 240px;
    margin-top: 10px;
    display: none;
    font-size: 12px;
    font-weight: 600;
    color: black;
    right: 1%;
    height: 50px;
    z-index: 10; }
    .Navgivation .Search .hoverSearch input {
      border: 0;
      font-size: 12px;
      font-weight: 500; }
      .Navgivation .Search .hoverSearch input:focus {
        border-color: gainsboro;
        box-shadow: unset; }
      .Navgivation .Search .hoverSearch input::placeholder {
        color: black; }

#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  background: #000000;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  z-index: 999; }

#toTop:hover {
  background: rgba(0, 0, 0, 0.7); }

#toTop a {
  text-decoration: none;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  width: 40px;
  color: #fff; }

.banner {
  background-color: #F7F7F7;
  padding: 40px 0; }
  .banner .title {
    font-weight: 700;
    margin-top: 10px; }
  .banner .breadcrumb {
    background-color: transparent; }
    .banner .breadcrumb .breadcrumb-item::before {
      color: #AEAFB5; }
    .banner .breadcrumb a {
      color: #AEAFB5;
      font-size: 14px; }
    .banner .breadcrumb span {
      color: #AEAFB5;
      font-size: 14px; }

.mainContent {
  padding: 60px 0; }
  .mainContent .form {
    background-color: #F7F7F7;
    padding: 40px 25px 44px 25px; }
    .mainContent .form .require {
      color: #b4b5bb; }
    .mainContent .form .form-control:focus {
      border-color: gainsboro;
      box-shadow: unset; }
    .mainContent .form label {
      letter-spacing: .5px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: .8rem; }
    .mainContent .form .lostPW {
      text-decoration: underline;
      font-size: .8rem;
      color: #b4b5bb; }
      .mainContent .form .lostPW:hover {
        text-decoration: none; }
    .mainContent .form .notice {
      font-size: .75rem;
      color: #85868c; }
      .mainContent .form .notice a {
        color: #1ebbf0; }
        .mainContent .form .notice a:hover {
          text-decoration: none; }
    .mainContent .form .btn {
      background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      font-weight: 700;
      border-radius: 0;
      border: unset; }
      .mainContent .form .btn:hover {
        background: -webkit-linear-gradient(135deg, #23aadd 30%, #37ce9d 100%);
        background: linear-gradient(135deg, #23aadd 30%, #37ce9d 100%); }
      .mainContent .form .btn:focus {
        box-shadow: unset !important; }
  .mainContent .form-check-input {
    position: unset; }
  .mainContent .formLogin .form3 {
    margin-bottom: 37px;
    display: flex;
    align-items: center; }
  .mainContent .formRegister .notice a {
    text-decoration: underline; }

.info {
  margin-top: 80px;
  font-size: .9rem;
  font-weight: 500; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.menu2 {
  left: 280px !important;
  top: -10px !important; }
  .menu2 li {
    margin: 0px 7px !important; }
    .menu2 li .dropdown-item {
      padding: 10.5px !important; }

.dropright a {
  font-size: 13px;
  font-weight: 700; }

.megaMenu {
  width: 1400px;
  left: -520px;
  padding: 20px; }
  .megaMenu a {
    font-weight: 700;
    font-size: 13px;
    color: black;
    margin: 5px 0;
    padding: 15px; }
    .megaMenu a:hover {
      text-decoration: none;
      background: linear-gradient(135deg, rgba(30, 187, 240, 0.07) 30%, rgba(57, 223, 170, 0.07) 100%); }

.hc-nav-trigger {
  right: 30px;
  top: 11px !important; }

.nav-container .nav-wrapper {
  background-color: white !important;
  box-shadow: unset; }
  .nav-container .nav-wrapper ul {
    text-indent: 15px !important; }
  .nav-container .nav-wrapper .nav-next:before {
    height: 20px;
    width: 40px;
    transform: translate(-50%, -50%) rotate(90deg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-top: 2px solid black !important;
    border-left: 2px solid black !important;
    background-image: url(Images/Plus_sign.png); }
  .nav-container .nav-wrapper .nav-close span {
    height: 30px;
    width: 30px;
    background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%); }

.nav-container a {
  border-bottom: 1px solid rgba(51, 51, 51, 0.08) !important;
  background-color: white !important;
  color: black !important;
  font-weight: 500;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out; }
  .nav-container a:hover {
    color: #1ebbf0 !important;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out; }

.nav-container .nav-wrapper1 a {
  font-size: 20px !important; }

.nav-container .nav-wrapper-2 a {
  font-size: 14px !important;
  border-bottom: unset !important;
  padding: 5px; }

.lines {
  background-color: #333;
  display: inline-block;
  width: 22px;
  height: 2px;
  position: relative;
  top: -4px; }
  .lines:before {
    top: 7px;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    display: inline-block;
    width: 22px;
    height: 2px;
    background-color: #333; }
  .lines:after {
    background-color: #333;
    top: -7px;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    display: inline-block;
    width: 22px;
    height: 2px; }

#my-menu {
  background-color: white; }
  #my-menu .menul1 > .mm-vertical > .mm-panel {
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    height: 0;
    padding: 0;
    padding-bottom: 15px; }
  #my-menu .menul1 > .mm-opened > .mm-panel {
    opacity: 1;
    height: auto; }
  #my-menu .menul1 > .mm-opened > a {
    color: #1ebbf0; }
  #my-menu .menul2 > .mm-opened > a {
    color: #1ebbf0; }
  #my-menu .menul2 > .mm-vertical > .mm-panel {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    height: 0;
    padding: 0;
    padding-bottom: 15px; }
  #my-menu .menul2 > .mm-opened > .mm-panel {
    opacity: 1;
    visibility: visible;
    height: 160px; }
  #my-menu .mm-listview {
    margin-top: -11px; }
    #my-menu .mm-listview li:last-child:after {
      border-bottom-style: unset; }
    #my-menu .mm-listview li:first-child:after {
      border-bottom-style: unset; }
    #my-menu .mm-listview li:first-child:hover .titleMenu:before {
      transition-duration: .5s;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg); }
    #my-menu .mm-listview li:first-child:hover .titleMenu:after {
      transition-duration: .5s;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg); }
    #my-menu .mm-listview .titleMenu {
      background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      height: 30px;
      width: 30px;
      position: absolute;
      top: -35%;
      right: 0; }
      #my-menu .mm-listview .titleMenu:before {
        display: inline-block;
        height: 2px;
        background: #fff;
        position: absolute;
        content: '';
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -11px;
        width: 22px;
        -webkit-transition: -webkit-transform .1s ease;
        transition: transform .1s ease;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg); }
      #my-menu .mm-listview .titleMenu:after {
        display: inline-block;
        height: 2px;
        background: #fff;
        position: absolute;
        content: '';
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -11px;
        width: 22px;
        -webkit-transition: -webkit-transform .1s ease;
        transition: transform .1s ease;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg); }
  #my-menu .info {
    margin-top: 100px; }
    #my-menu .info span {
      font-weight: 500; }
  #my-menu .mm-panel {
    background-color: transparent; }
    #my-menu .mm-panel .rightHeader a {
      padding: 0 !important; }
    #my-menu .mm-panel .menul1 > li.mm-opened > .mm-next::before {
      transform: rotate(135deg);
      transition-duration: .6s; }
    #my-menu .mm-panel .menul1 > li.mm-opened > .mm-next:after {
      transform: rotate(45deg);
      transition-duration: .6s; }
    #my-menu .mm-panel .menul2 > li.mm-opened > .mm-next::before {
      transform: rotate(135deg);
      transition-duration: .6s; }
    #my-menu .mm-panel .menul2 > li.mm-opened > .mm-next:after {
      transform: rotate(45deg);
      transition-duration: .6s; }
    #my-menu .mm-panel .menul1 a {
      font-weight: 600;
      font-size: 16px;
      padding: 15px 20px; }
      #my-menu .mm-panel .menul1 a:hover {
        color: #1ebbf0; }
    #my-menu .mm-panel .menul1 .menul2 a {
      font-size: 13px;
      padding: 6px 35px; }
    #my-menu .mm-panel .menul1 .menul2 .mm-next {
      height: 29px;
      right: -12px; }
      #my-menu .mm-panel .menul1 .menul2 .mm-next:before {
        width: 10px; }
      #my-menu .mm-panel .menul1 .menul2 .mm-next:after {
        width: 10px; }
    #my-menu .mm-panel .menul1 .menul2 .mm-vertical::after {
      border-bottom-style: unset; }
    #my-menu .mm-panel .menul1 .menul2 .menul3 {
      padding-top: 8px; }
      #my-menu .mm-panel .menul1 .menul2 .menul3 li::after {
        border-bottom-style: unset; }
      #my-menu .mm-panel .menul1 .menul2 .menul3 a {
        padding: 5px 45px; }
    #my-menu .mm-panel .mm-next {
      background-color: transparent;
      height: 45px; }
      #my-menu .mm-panel .mm-next:before {
        border-left-style: unset; }
    #my-menu .mm-panel .mm-next:before {
      display: inline-block;
      height: 2px;
      background: #c8c8c8;
      position: absolute;
      content: '';
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -11px;
      width: 13px;
      -webkit-transition: -webkit-transform .1s ease;
      transition: transform .1s ease;
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 90deg); }
    #my-menu .mm-panel .mm-next:after {
      display: inline-block;
      height: 2px;
      background: #c8c8c8;
      position: absolute;
      content: '';
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -11px;
      width: 13px;
      -webkit-transition: -webkit-transform .1s ease;
      transition: transform .1s ease;
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, 0deg);
      border-color: transparent; }

.imageBG {
  background-image: url(Images/bg-row-19.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5% 0;
  position: relative; }
  .imageBG .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0; }
  .imageBG p {
    color: white;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700; }
    .imageBG p::before {
      content: "";
      background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
      width: 40%;
      height: 3px;
      position: absolute;
      bottom: 0%;
      left: 30%; }

.introduce {
  padding: 80px 0; }
  .introduce h2 {
    font-weight: 600; }
  .introduce .shortDesc {
    margin: 25px 0;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 28px;
    color: black; }
  .introduce .slick-next {
    right: 30%; }
    .introduce .slick-next:before {
      content: ''; }
  .introduce .slick-prev {
    left: 28%; }
    .introduce .slick-prev:before {
      content: ''; }
  .introduce .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: .4s;
    transition-duration: .4s;
    top: 121.5%; }
    .introduce .slick-arrow:before {
      font-size: 1.4rem;
      margin-left: 3px;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 25px;
      font-weight: bold;
      opacity: 1;
      color: #c8c8c8; }
  .introduce .slick-active button {
    background-color: #808080;
    border: 2px solid #808080 !important; }
  .introduce .slideText p {
    margin: 30px 0; }
  .introduce .slideText span {
    margin-bottom: 30px; }
  .introduce .slideText .slick-dots {
    bottom: -60px; }
    .introduce .slideText .slick-dots li button {
      border: 2px solid #D6D6D6;
      border-radius: 50%;
      padding: 3px;
      height: 10px;
      width: 10px; }
      .introduce .slideText .slick-dots li button:before {
        content: ''; }
      .introduce .slideText .slick-dots li button:hover {
        border: 2px solid gray; }
  .introduce p {
    color: #85868c;
    font-size: .9rem;
    line-height: 28px; }
    .introduce p:last-child {
      margin-bottom: 0; }
  .introduce .rightCol {
    padding-left: 30px; }
  .introduce .media {
    margin: 30px 0; }
    .introduce .media span {
      color: aqua;
      border: 2px solid aqua;
      border-radius: 50%;
      padding: 2px 10px;
      font-weight: 700; }
    .introduce .media .media-body {
      padding-left: 1rem;
      font-size: .9rem;
      color: #85868c;
      line-height: 28px; }
      .introduce .media .media-body h5 {
        font-size: 1.2rem;
        color: #000;
        font-weight: 500; }

.counter {
  padding: 40px 0; }
  .counter .media i {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    padding: 21px;
    color: white;
    border-radius: 50%;
    background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%) !important;
    background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%) !important; }
  .counter .media h5 {
    font-size: 2rem;
    font-weight: 700; }
  .counter .media .media-body {
    padding-left: 1rem;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 600; }

.sticky {
  position: fixed;
  padding: 5px 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  transition-duration: .4s;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.07); }
  .sticky .nav-link {
    margin: 8px 0 !important; }
  .sticky img {
    height: 45px; }

footer {
  color: white;
  background-color: #1a1c20; }
  footer h5 {
    font-size: 1rem; }
  footer .footerContent {
    padding-top: 60px;
    padding-bottom: 10px; }
    footer .footerContent p {
      color: #85868c;
      font-size: .9rem; }
    footer .footerContent a {
      color: white;
      font-size: .9rem; }
      footer .footerContent a:hover {
        color: aqua !important;
        text-decoration: none; }
        footer .footerContent a:hover i {
          color: aqua; }
    footer .footerContent i {
      background: #2a2c30;
      color: #85868c;
      padding: 0px 3px; }
    footer .footerContent .social a:hover i {
      background: -webkit-linear-gradient(left, #1ebbf0 30%, #39dfaa 100%);
      color: white; }
    footer .footerContent .social a i {
      height: 26px;
      width: 26px;
      background: #2A2C30;
      color: #85868C;
      border-radius: 50%;
      padding: 6px;
      text-align: center;
      font-size: 15px;
      font-weight: 700; }
    footer .footerContent .infoContact {
      margin-top: 20px; }
    footer .footerContent .infoService {
      margin-top: 20px; }
    footer .footerContent .infoPost {
      margin-top: 20px; }
      footer .footerContent .infoPost p {
        font-size: .8rem; }
  footer .below {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    font-size: .8rem;
    padding-top: 20px;
    padding-bottom: 20px; }
    footer .below .img:hover {
      text-decoration: none; }
    footer .below a {
      color: white;
      font-size: .8rem; }
    footer .below .rightFooter a {
      margin-right: 20px; }
      footer .below .rightFooter a:last-child {
        margin-right: 0; }

.slideLogo {
  padding: 20px 0; }
  .slideLogo .slick-next:before {
    content: ''; }
  .slideLogo .slick-prev:before {
    content: ''; }
  .slideLogo .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: .4s;
    transition-duration: .4s; }
    .slideLogo .slick-arrow:before {
      font-size: 1.4rem;
      margin-left: 3px;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 25px;
      font-weight: bold;
      opacity: 1;
      color: #c8c8c8; }

@media (max-width: 575px) {
  .mobile-header {
    padding: 0 20px; }
    .mobile-header .iconMobile {
      color: black; }
  .formLogin {
    padding-bottom: 30px !important; }
    .formLogin .form3 {
      display: unset !important;
      align-items: center; }
  .formRegister {
    padding-bottom: 35px !important; }
  .desktop {
    display: none; }
  .introduce .slick-arrow {
    top: 115%; }
  .introduce .slick-next {
    right: 14%; }
  .introduce .slick-prev {
    left: 10%; }
  footer .below .rightFooter a {
    margin-right: 8px; }
    footer .below .rightFooter a:last-child {
      margin-right: 8px; }
  .slideLogo .customerImg {
    width: unset; }
  .slideLogo .slick-next {
    right: -5px; }
  .slideLogo .slick-prev {
    left: -5px; } }

@media (min-width: 992px) {
  .mobile-header {
    display: none; } }

