﻿$color-main: #AEAFB5;
$color-gray1: #a6a7ad;
$color-gray2: rgba(163,164,170,.2);
$color-banner: #F7F7F7;
$color-lostPW: #b4b5bb;
$color-button: linear-gradient(135deg,#23aadd 30%,#37ce9d 100%);

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.customerImg {
    @include aspect-ratio(3,2);
    background-size: contain;
    background-position: center center;
    width: 180px;
}

.imgBackground {
    background-position: center;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    &.contain {
        background-size: contain;
    }

    &.origin {
        background-origin: content-box;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.bgGrey {
    background-color: #F6F6F6;
}

.color-main {
    color: $color-main;
}

.header {
    color: $color-main;
    font-size: 12px;
    font-weight: 700;

    .headerContent {
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(51,51,51,.12);
    }
}

.rightHeader {
    a {

        i {
            text-align:center;
            color: $color-gray1;
            background-color: $color-gray2;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            padding: 7px 0;
            font-size: 12px;
            font-weight: 700;
        }

        &:hover {
            text-decoration: none;

            i {
                background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
                background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
                color: white;
            }
        }
    }
}

.Navgivation {
    /*padding: 10px 0;*/
    .navbar {
        width: 100%;
        padding: 0;

        .divNav {
            flex-grow: unset;
        }

        .navbar-nav {
            .nav-item {
                margin-right: 20px;

                &:hover {
                    .nav-link:before {
                        transform: scale3d(1,1,1);
                        -webkit-transform: scale3d(1,1,1);
                    }
                }

                .nav-link {
                    cursor: context-menu;
                    font-weight: bold;
                    color: black;
                    margin: 5px;
                    margin: 35px 10px;

                    &:before {
                        content: "";
                        background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
                        background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        bottom: 20%;
                        left: 0;
                        -webkit-transform: scale3d(0,1,1);
                        transform: scale3d(0,1,1);
                        -webkit-transform-origin: center left;
                        transform-origin: center left;
                        -webkit-transition: transform .4s cubic-bezier(.22,.61,.36,1);
                        transition: transform .4s cubic-bezier(.22,.61,.36,1);
                        transition-delay: .1s;
                    }

                    &.active {
                        &:before {
                            transform: scale3d(1,1,1);
                            -webkit-transform: scale3d(1,1,1);
                        }
                    }
                }

                .dropdown-menu {
                    border-radius: unset;
                    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
                    box-shadow: 0 0 4px rgba(0,0,0,.2);
                    margin: 0;

                    a {
                        padding: 10px;

                        &:hover {
                            color: #1ebbf0;
                            background: linear-gradient(135deg,rgba(30,187,240,0.07) 30%,rgba(57,223,170,0.07) 100%);
                        }
                    }

                    .fa-angle-right {
                        font-weight: 700;
                        font-size: 15px;
                    }

                    .dropdown-item {
                        font-weight: 600;
                        width: 280px;
                        margin: 0 10px;
                        padding: 0;
                        font-size: 12px;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .shoppingCart {
        .hoverBag {
            -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
            box-shadow: 0 0 4px rgba(0,0,0,.2);
            position: absolute;
            padding: 15px 0 0 15px;
            background-color: white;
            width: 240px;
            margin-top: 10px;
            display: none;
            font-size: 12px;
            font-weight: 600;
            height: 50px;
            z-index: 10;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;

            &:hover {
                opacity: .7;
            }

            .price {
                font-size: 12px;
            }

            .amount {
                color: white;
                font-size: 10px;
                border-radius: 50%;
                padding: 5px 10px;
                background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
                background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
                padding: 1px 5px;
            }
        }
    }

    .Search {
        i{
            width:13px;
        }
        a {
            color: black;
            font-size: .8rem;
            font-weight: 600;

            &:hover {
                text-decoration: none;
                opacity: .7;
            }
        }

        .hoverSearch {
            -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
            box-shadow: 0 0 4px rgba(0,0,0,.2);
            position: absolute;
            padding: 10px 18px;
            background-color: white;
            width: 240px;
            margin-top: 10px;
            display: none;
            font-size: 12px;
            font-weight: 600;
            color: black;
            right: 1%;
            height: 50px;
            z-index: 10;

            input {
                border: 0;
                font-size: 12px;
                font-weight: 500;

                &:focus {
                    border-color: gainsboro;
                    box-shadow: unset;
                }

                &::placeholder {
                    color: black;
                }
            }
        }
    }
}
#toTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    background: #000000;
    background: rgba(0,0,0,0.4);
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -ms-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    z-index: 999;
}

#toTop:hover {
    background: rgba(0,0,0,0.7);
}

#toTop a {
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    width: 40px;
    color: #fff;
}
.banner {
    background-color: $color-banner;
    padding: 40px 0;

    .title {
        font-weight: 700;
        margin-top: 10px;
    }

    .breadcrumb {
        background-color: transparent;

        .breadcrumb-item::before {
            color: $color-main;
        }

        a {
            color: $color-main;
            font-size: 14px;
        }

        span {
            color: $color-main;
            font-size: 14px;
        }
    }
}

.mainContent {
    padding: 60px 0;

    .form {
        background-color: $color-banner;
        padding: 40px 25px 44px 25px;

        .require {
            color: $color-lostPW;
        }

        .form-control:focus {
            border-color: gainsboro;
            box-shadow: unset;
        }

        label {
            letter-spacing: .5px;
            font-weight: 700;
            text-transform: uppercase;
            font-size: .8rem;
        }

        .lostPW {
            text-decoration: underline;
            font-size: .8rem;
            color: $color-lostPW;

            &:hover {
                text-decoration: none;
            }
        }

        .notice {
            font-size: .75rem;
            color: #85868c;

            a {
                color: #1ebbf0;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .btn {
            background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            font-weight: 700;
            border-radius: 0;
            border: unset;

            &:hover {
                background: -webkit-linear-gradient(135deg,#23aadd 30%,#37ce9d 100%);
                background: linear-gradient(135deg,#23aadd 30%,#37ce9d 100%);
            }

            &:focus {
                box-shadow: unset !important;
            }
        }
    }

    .form-check-input {
        position: unset;
    }

    .formLogin {

        .form3 {
            margin-bottom: 37px;
            display: flex;
            align-items: center;
        }
    }

    .formRegister {
        .notice {
            a {
                text-decoration: underline;
            }
        }
    }
}

.info {
    margin-top: 80px;
    font-size: .9rem;
    font-weight: 500;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.menu2 {
    left: 280px !important;
    top: -10px !important;

    li {
        margin: 0px 7px !important;

        .dropdown-item {
            padding: 10.5px !important;
        }
    }
}

.dropright {
    a {
        font-size: 13px;
        font-weight: 700;
    }
}

.megaMenu {
    width: 1400px;
    left: -520px;
    padding: 20px;

    a {
        font-weight: 700;
        font-size: 13px;
        color: black;
        margin: 5px 0;
        padding: 15px;

        &:hover {
            text-decoration: none;
            background: linear-gradient(135deg,rgba(30,187,240,0.07) 30%,rgba(57,223,170,0.07) 100%);
        }
    }
}

.hc-nav-trigger {
    right: 30px;
    top: 11px !important;
}

.nav-container {
    .nav-wrapper {
        background-color: white !important;
        box-shadow: unset;

        ul {
            text-indent: 15px !important;
        }

        .nav-next {
            &:before {
                height: 20px;
                width: 40px;
                transform: translate(-50%, -50%) rotate(90deg) !important;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border-top: 2px solid black !important;
                border-left: 2px solid black !important;
                background-image: url(../Content/Images/Plus_sign.png);
            }
        }

        .nav-close {
            span {
                height: 30px;
                width: 30px;
                background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            }
        }
    }

    a {
        border-bottom: 1px solid rgba(51,51,51,.08) !important;
        background-color: white !important;
        color: black !important;
        font-weight: 500;
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;

        &:hover {
            color: #1ebbf0 !important;
            -webkit-transition: -webkit-transform .3s ease-out;
            transition: transform .3s ease-out;
        }
    }

    .nav-wrapper1 {
        a {
            font-size: 20px !important;
        }
    }

    .nav-wrapper-2 {
        a {
            font-size: 14px !important;
            border-bottom: unset !important;
            padding: 5px;
        }
    }
}

.lines {
    background-color: #333;
    display: inline-block;
    width: 22px;
    height: 2px;
    position: relative;
    top: -4px;

    &:before {
        top: 7px;
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: 1.5px center;
        transform-origin: 1.5px center;
        -webkit-transition: transform .3s;
        transition: transform .3s;
        display: inline-block;
        width: 22px;
        height: 2px;
        background-color: #333;
    }

    &:after {
        background-color: #333;
        top: -7px;
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: 1.5px center;
        transform-origin: 1.5px center;
        -webkit-transition: transform .3s;
        transition: transform .3s;
        display: inline-block;
        width: 22px;
        height: 2px;
    }
}

#my-menu {
    background-color: white;

    .menul1 > .mm-vertical > .mm-panel {
        display: block;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
        height: 0;
        padding: 0;
        padding-bottom: 15px;
    }

    .menul1 > .mm-opened > .mm-panel {
        opacity: 1;
        height: auto;
    }

    .menul1 > .mm-opened > a {
        color: #1ebbf0;
    }

    .menul2 > .mm-opened > a {
        color: #1ebbf0;
    }

    .menul2 > .mm-vertical > .mm-panel {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
        height: 0;
        padding: 0;
        padding-bottom: 15px;
    }

    .menul2 > .mm-opened > .mm-panel {
        opacity: 1;
        visibility: visible;
        height: 160px;
    }

    .mm-listview {
        margin-top: -11px;

        li:last-child {
            &:after {
                border-bottom-style: unset;
            }
        }

        li:first-child {
            &:after {
                border-bottom-style: unset;
            }

            &:hover {
                .titleMenu {
                    &:before {
                        transition-duration: .5s;
                        -webkit-transform: rotate3d(0,0,1,0deg);
                        transform: rotate3d(0,0,1,0deg);
                    }

                    &:after {
                        transition-duration: .5s;
                        -webkit-transform: rotate3d(0,0,1,0deg);
                        transform: rotate3d(0,0,1,0deg);
                    }
                }
            }
        }

        .titleMenu {
            background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            height: 30px;
            width: 30px;
            position: absolute;
            top: -35%;
            right: 0;

            &:before {
                display: inline-block;
                height: 2px;
                background: #fff;
                position: absolute;
                content: '';
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                top: 50%;
                left: 50%;
                margin: -1px 0 0 -11px;
                width: 22px;
                -webkit-transition: -webkit-transform .1s ease;
                transition: transform .1s ease;
                -webkit-transform: rotate3d(0,0,1,45deg);
                transform: rotate3d(0,0,1,45deg);
            }

            &:after {
                display: inline-block;
                height: 2px;
                background: #fff;
                position: absolute;
                content: '';
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                top: 50%;
                left: 50%;
                margin: -1px 0 0 -11px;
                width: 22px;
                -webkit-transition: -webkit-transform .1s ease;
                transition: transform .1s ease;
                -webkit-transform: rotate3d(0,0,1,-45deg);
                transform: rotate3d(0,0,1,-45deg);
            }
        }
    }

    .info {
        margin-top: 100px;

        span {
            font-weight: 500;
        }
    }

    .mm-panel {
        background-color: transparent;

        .rightHeader {
            a {
                padding: 0 !important;
            }
        }

        .menul1 > li.mm-opened > .mm-next {
            &::before {
                transform: rotate(135deg);
                transition-duration: .6s;
            }

            &:after {
                transform: rotate(45deg);
                transition-duration: .6s;
            }
        }

        .menul2 > li.mm-opened > .mm-next {
            &::before {
                transform: rotate(135deg);
                transition-duration: .6s;
            }

            &:after {
                transform: rotate(45deg);
                transition-duration: .6s;
            }
        }

        .menul1 {
            a {
                font-weight: 600;
                font-size: 16px;
                padding: 15px 20px;

                &:hover {
                    color: #1ebbf0;
                }
            }

            .menul2 {
                a {
                    font-size: 13px;
                    padding: 6px 35px;
                }

                .mm-next {
                    height: 29px;
                    right: -12px;

                    &:before {
                        width: 10px;
                    }

                    &:after {
                        width: 10px;
                    }
                }

                .mm-vertical::after {
                    border-bottom-style: unset;
                }

                .menul3 {
                    padding-top: 8px;

                    li::after {
                        border-bottom-style: unset;
                    }

                    a {
                        padding: 5px 45px;
                    }
                }
            }
        }

        .mm-next {
            background-color: transparent;
            height: 45px;

            &:before {
                border-left-style: unset;
            }
        }

        .mm-next {
            &:before {
                display: inline-block;
                height: 2px;
                background: #c8c8c8;
                position: absolute;
                content: '';
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                top: 50%;
                left: 50%;
                margin: -1px 0 0 -11px;
                width: 13px;
                -webkit-transition: -webkit-transform .1s ease;
                transition: transform .1s ease;
                -webkit-transform: rotate3d(0,0,1,45deg);
                transform: rotate3d(0,0,1,90deg);
            }

            &:after {
                display: inline-block;
                height: 2px;
                background: #c8c8c8;
                position: absolute;
                content: '';
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                top: 50%;
                left: 50%;
                margin: -1px 0 0 -11px;
                width: 13px;
                -webkit-transition: -webkit-transform .1s ease;
                transition: transform .1s ease;
                -webkit-transform: rotate3d(0,0,1,-45deg);
                transform: rotate3d(0,0,1,0deg);
                border-color: transparent;
            }
        }
    }
}

.imageBG {
    background-image: url(../Content/Images/bg-row-19.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7.5% 0;
    position: relative;

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0
    }

    p {
        color: white;
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 700;

        &::before {
            content: "";
            background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            width: 40%;
            height: 3px;
            position: absolute;
            bottom: 0%;
            left: 30%;
        }
    }
}

.introduce {
    padding: 80px 0;

    h2 {
        font-weight: 600;
    }

    .shortDesc {
        margin: 25px 0;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 28px;
        color: black;
    }

    .slick-next {
        right: 30%;

        &:before {
            content: '';
        }
    }

    .slick-prev {
        left: 28%;

        &:before {
            content: '';
        }
    }

    .slick-arrow {
      
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: 50%;
        z-index: 1;
        -webkit-transition: .4s;
        transition-duration: .4s;
        top: 121.5%;

        &:before {
            font-size: 1.4rem;
            margin-left: 3px;
            display: inline-block;
            font-family: FontAwesome;
            font-size: 25px;
            font-weight: bold;
            opacity: 1;
            color: #c8c8c8;
        }
    }

    .slick-active {
        button {
            background-color: #808080;
            border: 2px solid #808080 !important;
        }
    }

    .slideText {
        p {
            margin: 30px 0;
        }

        span {
            margin-bottom: 30px;
        }

        .slick-dots {
            bottom: -60px;

            li {

                button {
                    border: 2px solid #D6D6D6;
                    border-radius: 50%;
                    padding: 3px;
                    height: 10px;
                    width: 10px;

                    &:before {
                        content: '';
                    }

                    &:hover {
                        border: 2px solid gray;
                    }
                }
            }
        }
    }

    p {
        color: #85868c;
        font-size: .9rem;
        line-height: 28px;
        &:last-child
            {
            margin-bottom:0;
        }
    }

    .rightCol {
        padding-left: 30px;
    }

    .media {
        margin: 30px 0;

        span {
            color: aqua;
            border: 2px solid aqua;
            border-radius: 50%;
            padding: 2px 10px;
            font-weight: 700;
        }

        .media-body {
            padding-left: 1rem;
            font-size: .9rem;
            color: #85868c;
            line-height: 28px;

            h5 {
                font-size: 1.2rem;
                color: #000;
                font-weight: 500;
            }
        }
    }
}


.counter {
    padding: 40px 0;

    .media {
        i {
            width: 60px;
            height: 60px;
            font-size: 1.2rem;
            padding: 21px;
            color: white;
            border-radius: 50%;
            background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%) !important;
            background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%) !important;
        }

        h5 {
            font-size: 2rem;
            font-weight: 700;
        }

        .media-body {
            padding-left: 1rem;
            padding-top: 5px;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.sticky {
    position: fixed;
    padding: 5px 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    transition-duration: .4s;
    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,.07);
    box-shadow: 0 0 15px 1px rgba(0,0,0,.07);
    .nav-link{
        margin:8px 0 !important;
    }
    img {
        height: 45px;
    }
}

footer {
    color: white;
    background-color: #1a1c20;

    h5 {
        font-size: 1rem;
    }

    .footerContent {
        padding-top: 60px;
        padding-bottom: 10px;

        p {
            color: #85868c;
            font-size: .9rem;
        }

        a {
            color: white;
            font-size: .9rem;

            &:hover {
                color: aqua !important;
                text-decoration: none;

                i {
                    color: aqua;
                }
            }
        }

        i {
            background: #2a2c30;
            color: #85868c;
            padding: 0px 3px;
        }

        .social {
            a {
                &:hover {
                    i {
                        background: -webkit-linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
                        color: white;
                    }
                }

                i {
                    height: 26px;
                    width: 26px;
                    background: #2A2C30;
                    color: #85868C;
                    border-radius: 50%;
                    padding: 6px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }

        .infoContact {
            margin-top: 20px;
        }

        .infoService {
            margin-top: 20px;
        }

        .infoPost {
            margin-top: 20px;
            p{
                font-size:.8rem;
            }
        }
    }

    .below {
        border-top: 1px solid rgba(255,255,255,.12);
        font-size: .8rem;
        padding-top:20px;
        padding-bottom:20px;
        .img{
            &:hover{
                text-decoration:none;
            }
        }
        a {
            color: white;
            font-size: .8rem;
        }

        .rightFooter {
            a {
                margin-right: 20px;
                &:last-child
                    {
                    margin-right:0;
                }
            }
        }
    }
}

.slideLogo {
    padding: 20px 0;

    .slick-next {
        &:before {
            content: '';
        }
    }

    .slick-prev {
        &:before {
            content: '';
        }
    }

    .slick-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: 50%;
        z-index: 1;
        -webkit-transition: .4s;
        transition-duration: .4s;

        &:before {
            font-size: 1.4rem;
            margin-left: 3px;
            display: inline-block;
            font-family: FontAwesome;
            font-size: 25px;
            font-weight: bold;
            opacity: 1;
            color: #c8c8c8;
        }
    }
}

@media (max-width:575px) {
    .mobile-header {
        padding: 0 20px;

        .iconMobile {
            color: black;
        }
    }

    .formLogin {
        padding-bottom: 30px !important;

        .form3 {
            display: unset !important;
            align-items: center;
        }
    }

    .formRegister {
        padding-bottom: 35px !important;
    }

    .desktop {
        display: none;
    }
    .introduce {
        .slick-arrow {
            top: 115%;
        }

        .slick-next {
            right: 14%;
        }
        .slick-prev{
            left:10%;
        }
    }
    footer .below .rightFooter a
    {
        margin-right:8px;
        &:last-child
            {
            margin-right:8px;
        }
    }
    .slideLogo {
        .customerImg {
            width: unset;
        }

        .slick-next{
            right:-5px;
        }
        .slick-prev{
            left:-5px;
        }
    }
  

}

@media (min-width: 992px) {

    .mobile-header {
        display: none;
    }
    
}
