﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/Common.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.mmenu/jquery.mmenu.all.css" rel="stylesheet" />
    <link href="~/Content/slick-1.8.1/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{Html.RenderPartial("../Partials/_Header"); }
    @RenderBody()
    @{ Html.RenderPartial("../Partials/_Footer");}

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/jquery.mmenu/jquery.mmenu.all.js"></script>
    <script src="~/Content/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/Content/countUp.js-master/countUp.js"></script>
    <script src="~/Content/countUp.js-master/countUp-jquery.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var API = $("#my-menu").mmenu({
                offCanvas: {
                    position: "right"
                }, lazySubmenus: {
                    load: true,
                },
                navbar: {
                    add: true,
                    title: null,
                    titleLink: "parent"
                },
                "slidingSubmenus": false,
                "extensions": [
                    "pagedim-black",
                ]
            }).data("mmenu");
            $("#buttonmeNu").click(function () {
                API.open();
            });
        });
        $('body').on('mouseenter mouseleave', '.dropdown', function (e) {
            var _d = $(e.target).closest('.dropdown'); _d.addClass('d-block');
            setTimeout(function () {
                _d[_d.is(':hover') ? 'addClass' : 'removeClass']('d-block');
                $('[data-toggle="dropdown"]', _d).attr('aria-expanded', _d.is(':hover'));
            }, 800);
        });
        //$('nav li').hover(
        //    function () {
        //        $('ul', this).stop().slideDown(100);
        //    },
        //    function () {
        //        $('ul', this).stop().slideUp(100);
        //    }
        //);
        $('.Navgivation .shoppingCart').hover(
            function () {
                $('.hoverBag', this).stop().fadeIn(500);
                $('.hoverSearch').hide();
              
            },
            function () {
                $('.hoverBag', this).stop().fadeOut(500);
            }
        );
    
        $(".hoverSearch").click(function (e) {
            e.stopPropagation();
        });
        $('.Search').on('click', function () {
            $('.hoverSearch').fadeToggle({
                'width': 'toggle'
            }, 500);
            $('.hoverSearch input').focus();
        });
        $(document).mouseup(function (e) {
            var container = $(".Search");

            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.hoverSearch').fadeOut(500);
                //$("i").toggleClass("fa-times");
            }
        });
        $('.Search').click(function () {
            //$("i").toggleClass("fa-times");
        });
        var width = $(window).width();
        if (width >= 1001 && width < 1140) {
            $(".desktop").css("display", "none");
            $(".mobile-header").css("display", "block");
            $(".mobile-header").css("padding", "10px 15px");
            $(".formLogin").css("padding-bottom", "61px");
            $("img").css("height", "53px");
        }
        $(document).ready(function () {
            $('.showPW').on('click', function () {
                var passwordField = $('.PW');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType == 'password') {
                    passwordField.attr('type', 'text');
                    $(this).text('Hide');
                }
                else {
                    passwordField.attr('type', 'password');
                    $(this).text('show');
                }
            });
        });


    </script>
</body>
</html>
