﻿<div class="container-fluid imageBG">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <p>our agency</p>
            </div>
        </div>
    </div>
</div>
<section class="introduce">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Content/Images/content1.jpg" class="w-100 h-100"  />
            </div>
            <div class="col-lg-6 section rightCol d-flex flex-column justify-content-center mt-lg-0 mt-4">
                <h2>Who We Are</h2>
                <p class="shortDesc">Suspendisse ullamcorper – finibus justo eget auctor. Vestibulum ligula orci, volutpat id eget ante.</p>
                <p>Nam eget neque pellentesque, efficitur neque at, ornare orci. Morbi convallis a eros fermentum rhoncus. Morbi convallis a eros fermentum rhoncus lorem. Vestibulum ligula orci, volutpat id aliquet eget, consectetur eget ante. Duis pharetra for nec rhoncus felis sagittis nec amet ultricies lorem.</p>
                <p>Quisque lorem <b>12 YEARS</b> quis efficitur felis. Duis pharetra <b>86 CLIENTS</b> for amet ultricies augue, nec rhoncus felis <b>7 AWARDS</b> sagittis nec.</p>
            </div>
        </div>
    </div>
</section>
<section class="counter bgGrey" id="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="media">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <div class="media-body">
                        <h5 class="mt-0 counter-value" data-count="16">0</h5>
                        Specialist
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-5">
                <div class="media">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <div class="media-body">
                        <h5 class="mt-0 counter-value" data-count="36">0</h5>
                        Happy Clients
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="media">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <div class="media-body">
                        <h5 class="mt-0 counter-value"  data-count="53">0</h5>
                        Successful Cases
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="introduce ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 section rightCol d-flex flex-column justify-content-center">
                <h2>
                    Principles Of Our Work
                </h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="media">
                            <span>1</span>
                            <div class="media-body">
                                <h5 class="mt-0">Creativity</h5>
                                Aliquam erat volutpat. Nunc ut – for dictum purus lorem vel ante ac purus sollicitudin dictum id sed ipsum.
                            </div>
                        </div>
                        <div class="media">
                            <span>2</span>
                            <div class="media-body">
                                <h5 class="mt-0">
                                    Integrity
                                </h5>
                                Nam eget neque pellentesque, efficitur neque at, ornare orci. Morbi convallis a eros fermen convallis fermentum rhoncus lorem.
                            </div>
                        </div>
                        <div class="media">
                            <span>3</span>
                            <div class="media-body">
                                <h5 class="mt-0">Innovations</h5>
                                Maecenas sed facilisis erat. Sed risus lectus, consequat eu lectus a, rutrum finibus tortor. Vivamus eu accumsan odio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/Content/Images/content2.jpg" class="w-100 h-100" />
            </div>

        </div>
    </div>
</section>
<section class="slideLogo bgGrey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slide">
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-09.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-12.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-14.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-15.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-16.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-18.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-19.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-20.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-22.png)"></div>
                    </a>
                    <a href="#" target="_blank">
                        <div class="imgBackground customerImg" style="background-image:url(../../Content/Logo/4-logo-23.png)"></div>
                    </a>


                </div>
            </div>
        </div>
    </div>
</section>
<section class="introduce">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="~/Content/Images/content3.jpg" class="w-100 h-100" />
            </div>
            <div class="col-lg-6 section rightCol d-flex flex-column justify-content-center mt-lg-0 mt-4">
                <h2>
                    What Customers Say
                </h2>
                <div class="slideText">
                    <div>
                        <p>Morbi convallis a eros fermentum fames ac turpis egestas. Fusce nec ipsum – from dolor rhoncus. Morbi convallis a eros fermentum rhoncus lorem. Vestibulum ligula orci, volutpat id aliquet eget, consectetur eget ante. Duis pharetra for nec rhoncus felis sagittis nec amet ultricies lorem.</p>
                        <span>
                            <b>Alex Blackwood</b> – CEO at Seven Arts
                        </span>
                    </div>
                    <div>
                        <p>Nam eget neque pellentesque, efficitur neque at, ornare orci. Morbi convallis a eros fermentum rhoncus. Morbi convallis a eros fermentum rhoncus lorem. Vestibulum ligula orci, volutpat id aliquet eget, consectetur eget ante.</p>
                        <span>
                            <b>Tiffany Bright</b> – Marketing Manager at Seven Digital
                        </span>
                    </div>
                    <div>
                        <p>Convallis a eros – fermentum rhoncus lorem  turpis egestas. Fusce nec ipsum. Vestibulum ligula orci, volutpat id aliquet eget, consectetur eget ante. Duis pharetra for nec rhoncus felis sagittis nec amet ultricies lorem.</p>
                        <span>
                            <b>Gregory Smith</b> – Director at Seven Media
                        </span>
                    </div>
                    <div>
                        <p>Fusce nec ipsum. Nam eget neque pellentesque, efficitur neque fames ac turpis egestas. Fusce nec ipsum at, ornare orci. Morbi convallis a eros fermentum rhoncus. Morbi convallis a eros fermentum rhoncus lorem. Vestibulum ligula orci, volutpat id aliquet eget, consectetur eget ante. Thanx!</p>
                        <span>
                            <b>Jason Brown</b> – Product Manager at Seven Agency
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="toTop">
    <a>
        <i class="fa fa-angle-up fa-lg"></i>

    </a>
</div>
@section scripts
{
    <script>
        $('.slide').slick({
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            speed: 600,
            accessibility: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow:5  ,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
        $('.slideText').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            dots: true,
            accessibility: false,

        });
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('.desktop').addClass('sticky');
                $('.mobile-header').addClass('sticky');
                $('#toTop').fadeIn();
            } else {
                $('.desktop').removeClass('sticky');
                $('.mobile-header').removeClass('sticky');
                $('#toTop').fadeOut();
            }
        });
        $('#toTop').click(function () {
            $('body,html').animate({ scrollTop: 0 }, 800);
        });
        var options = {
            useEasing: true,
            useGrouping: true,
            separator: ',',
            decimal: '.',
        };
        var a = 0;
        $(window).scroll(function () {
            var oTop = $('.counter').offset().top - window.innerHeight;
            if (a == 0 && $(window).scrollTop() > oTop) {
                $('.counter-value').each(function () {
                    var $this = $(this),
                        countTo = $this.attr('data-count');
                    $({
                        countNum: $this.text()
                    }).animate({
                        countNum: countTo
                    },
                        {
                            duration: 1000,
                            easing: 'swing',
                            step: function () {
                                $this.text(Math.floor(this.countNum));
                            },
                            complete: function () {
                                $this.text(this.countNum);
                            }
                        });
                });
                a = 1;
            }
        });
    </script>}