﻿<section class="banner">
    <div class="container-fluid">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h2 class="title">MY ACCOUNT</h2>
                <nav aria-label="breadcrumb" class="d-lg-block">
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><span>My Account</span></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="mainContent Hello">
    <div class="container" id="app">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="form formLogin h-100">
                    <h5>Login</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username or Email address <span class="require">*</span></label>
                            <input id="email" name="email" class="form-control" placeholder="Email " v-model="usernameLogin" v-validate="'required|email'" />
                            <span class="error-msg text-danger font-weight-bold mt-3" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password <span class="require">*</span></label>
                            <input id="password" name="password" class="form-control" placeholder="password " v-model="passwordLogin" type="password" v-validate="'required|min:8|max:15'" />
                            <span class="error-msg text-danger font-weight-bold mt-3" v-show="errors.has('password')">{{ errors.first('password') }}</span>

                        </div>
                        <div class="form3">
                            <p>
                                <button type="submit" class="btn btn-primary mr-lg-5 mr-4" v-on:click="Display">LOG IN</button>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <span class="form-check-label" for="exampleCheck1">Remember me</span>
                            </p>
                            <p class="ml-auto">
                                <a href="#" class="lostPW">Lost your password?</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="form formRegister h-100">
                    <h5>Register</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                EMAIL ADDRESS  <span class="require">*</span>
                            </label>
                            <input id="usernameRegister" name="usernameRegister" class="form-control" placeholder="Email " v-model="usernameRegister" v-validate="'required|email'" />
                            <span class="error-msg text-danger font-weight-bold mt-3" v-show="errors.has('usernameRegister')">{{ errors.first('usernameRegister') }}</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password  <span class="require">*</span></label>
                            <input id="passwordRegister" name="passwordRegister" class="form-control" placeholder="password " v-model="passwordRegister" type="password" v-validate="'required|min:8|max:15'" />
                            <span class="error-msg text-danger font-weight-bold mt-3" v-show="errors.has('passwordRegister')">{{ errors.first('passwordRegister') }}</span>
                        </div>
                        <p class="notice">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" target="_blank">privacy policy.</a></p>
                        <button type="submit" class="btn btn-primary mr-5" v-on:click="Display">REGISTER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts
{
   
    <script src="~/Scripts/bundle/bundled_main.js"></script>
}